# for MAC
.DS_Store
normFeatures
features
parsedRawData
rawData
*.log
*.o
*.so
*.m~
Class*
testClass*
trainClass*
test
train
testPCA
trainPCA
normFeaturesPCA
boostClassifiedResult
boostFeatureImportance
*.class
boostClassifiedPCAResult
boostFeaturePCAImportance
